.git
.gitignore
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache

frontend
Test_Project
node_modules

backend/.env
backend/*.db
backend/*.sqlite
backend/*.sqlite3
backend/logs

README.md
